.td_nume,
.td_prenume,
.td_varsta,
.td_email{
	background-color:white;
	height: 80px;
	width: 250px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.th_nume,
.th_prenume,
.th_varsta,
.th_email{
	background-color:pink;
	height: 100px;
	width: 250px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.tabela_sortare{
	border: 1px solid black;
}