block content
	table(class="tabela" style="margin:20px;")
		tr
			td(class="td_nr" id="0" onclick="function0()" style="background-color:red")
			td(class="td_nr" id="1" onclick="function1()") 1
			td(class="td_nr" id="2" onclick="function2()") 2
			td(class="td_nr" id="3" onclick="function3()") 3
		
		tr
			td(class="td_nr" id="4" onclick="function4()") 4
			td(class="td_nr" id="5" onclick="function5()") 5
			td(class="td_nr" id="6" onclick="function6()") 6
			td(class="td_nr" id="7" onclick="function7()") 7
		
		tr
			td(class="td_nr" id="8" onclick="function8()") 8
			td(class="td_nr" id="9" onclick="function9()") 9
			td(class="td_nr" id="10" onclick="function10()") 10
			td(class="td_nr" id="11" onclick="function11()") 11
		
		tr
			td(class="td_nr" id="12" onclick="function12()") 12
			td(class="td_nr" id="13" onclick="function13()") 13
			td(class="td_nr" id="14" onclick="function14()") 14
			td(class="td_nr" id="15" onclick="function15()") 15
	button(onclick="functionAmesteca()" style="margin:20px;") Amesteca !