// Sa se sorteze un tabel crescator sau descrescator in functie de valoare elementelor de pe o anumita coloana.
// La un click pe antetul coloanei, tabelul va fi sortat crescator, la urmatorul click descrescator, etc.
// Tabelul va putea fi sortat dupa orice coloana.
// Nu se vor folosi alte biblioteci de functii, pluginuri, etc in afara de jQuery (jquery.min.js).

doctype html
html(lang="en")
	head
		title Laborator 5
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="author", content="")
		link(rel="icon", href="favicon.ico")
		link(href="http://fonts.googleapis.com/css?family=Signika:400,600,300,700", rel="stylesheet", type="text/css")

		// Custom styles for this template
		link(href="assets/css/main.css", rel="stylesheet", id="main-css")
		script(src="assets/js/main.js")
		body(style="background-color:gray")
	include ../components/lab5/tabel_sortat.jade