block content
	table(class="tabela" style="margin:20px;")
		tr
			td(class="td_img" id="0" onclick="function0()") 15
				img(src="assets/images/0-0.jpeg")
			td(class="td_img" id="1" onclick="function1()") 2
				img(src="assets/images/0-1.jpeg")
			td(class="td_img" id="2" onclick="function2()") 10
				img(src="assets/images/0-2.jpeg")
			td(class="td_img" id="3" onclick="function3()") 4
				img(src="assets/images/0-3.jpeg")
		tr
			td(class="td_img" id="4" onclick="function4()") 6
				img(src="assets/images/1-0.jpeg")
			td(class="td_img" id="5" onclick="function5()") 9
				img(src="assets/images/1-1.jpeg")
			td(class="td_img" id="6" onclick="function6()") 1
				img(src="assets/images/1-2.jpeg")
			td(class="td_img" id="7" onclick="function7()") 5
				img(src="assets/images/1-3.jpeg")
		tr
			td(class="td_img" id="8" onclick="function8()") 12
				img(src="assets/images/2-0.jpeg")
			td(class="td_img" id="9" onclick="function9()") 11
				img(src="assets/images/2-1.jpeg")
			td(class="td_img" id="10" onclick="function10()") 3
				img(src="assets/images/2-2.jpeg")
			td(class="td_img" id="11" onclick="function11()") 14
				img(src="assets/images/2-3.jpeg")
		tr
			td(class="td_img" id="12" onclick="function12()") 13
				img(src="assets/images/3-0.jpeg")
			td(class="td_img" id="13" onclick="function13()") 8
				img(src="assets/images/3-1.jpeg")
			td(class="td_img" id="14" onclick="function14()") 7
				img(src="assets/images/3-2.jpeg")
			td(class="td_img" id="15" onclick="function15()"  style="background-color:white")
	button(onclick="functionAmesteca()" style="margin:20px;") Amesteca !