.tabela {
	border: 1px solid black;
}

.td_nr{
	background-color:green;
	height: 128px;
	width: 128px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 36px;
}

td:hover{
	//background-color:cyan;
}
